<header>
    <div id="nameplate">
        <h1><a href="{{ settings.docroot }}">Matthew Malensek</a></h1>
        <nav>
            <a href="{{ settings.docroot }}" id="home">Home</a>
            <a href="{{ settings.docroot }}/projects">Projects</a>
            <a href="{{ settings.docroot }}/publications">Publications</a>
            <a href="{{ settings.docroot }}/etc">Etc</a>
        </nav>
    </div>
</header>

